nav ul ul {
    display: none;
}
nav ul li:hover > ul {
    display: block;
}
nav ul {
    list-style: none;
    position: relative;
    display: inline-table;
}
nav ul:after {
    content: "";
    clear: both;
    display: block;
}
nav ul li {
    text-transform: uppercase;
    float: left;
}
nav ul li:hover {
    background: #537b7b;
}
nav ul li:hover a {
    color: #fff;
}
nav ul li a {
    display: block;
    padding: 3px 35px;
    color: #e8fafa;
    text-decoration: none;
}
nav ul li.current {
    background: #537b7b;
}
nav ul li.current a {
    color: white;
    font-weight: bold;
}
nav ul ul {
    background: #9fb5b5;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
}
nav ul ul li {
    text-transform: none;
    float: none;
    border-top: 1px solid #839d9d;
    border-bottom: 1px solid #778e8e;
    position: relative;
}
nav ul ul li a {
    padding: 3px 35px;
    color: #fff;
}
nav ul .current ul li a {
    font-weight: normal;
}
nav ul ul li a:hover {
    background: #6ca9a9;
}
nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}
ul li.sep {
    color: #aecdcd;
    padding: 2px 0em;
    background-color: #739a9a;
}
ul li.sep:hover {
    background-color: #739a9a;
}