#searchform {
    position: absolute;
    right: 15px;
    top: 165px;
}
.search {
    padding: 6px 15px 6px 30px;
    margin: 3px; 
    background: url('../img/search.png') no-repeat 8px 6px; 
}
.rounded {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.lighter {
    width: 95%;
    height: 35px;
}
.lighter {
    background: url('./images/lighter_grey.jpg');
}
.lighter input[type=text]{
    border: 1px solid #d0d0d0;
    background-color: #fcfcfc;
}